* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: Linear-gradient(135deg, #74ebd5, #acb6e5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}

.weather-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,2);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background: #74ebd5;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer; 
}

button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

button:active {
    transform: scale(0.95);
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}